# Fichier pour ignorer .env et autres fichiers sensibles pour garantit que :
#Les fichiers sensibles (comme .env) ne sont pas partagés.

# Ignorer le fichier .env contenant les variables d'environnement
.env

# Ignorer les fichiers de logs
*.log

# Ignorer les dossiers node_modules (les dépendances de Node.js)
node_modules/

# Ignorer les fichiers générés par les compilations (par exemple, dist)
dist/

# Ignorer les fichiers de configuration spécifiques à certains IDE
.vscode/
.idea/

# Ignorer les fichiers temporaires créés par l'éditeur
*.swp
*.bak
